* {
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  list-style: none;
}

.container {
  min-width: 1400px;
  max-width: 1400px;
  display: flex;

}

main h3 {
text-align: center;
text-align: justify;
font-size: 28px;
padding-top: 25px;
padding-bottom: 15px;
margin-left: 700px;
letter-spacing: 3px;
font-weight: 800;
line-height: 0px;

}

.VictoryContainer {
  width: 1100px;
  margin-left: 0px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.users {
  position: relative;
  width: 100px;
  margin-left: 10px;
  margin-top: 50px;
  border: 0px;
  flex-direction:column;
}

input[type="checkbox"] {
  color: red;
}

.menu_btn{margin-left:10px;
width: 200px;}

.x-1 {
  min-width: 1400px;
}
.x-2,
.x-3,
.x-4 {
  min-width: 350px;
}

div p {
  border: 1px solid black;
  margin-left: 1px;
  text-align: center;
  margin-right: 1px;
  padding: 2px;
}
